{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Interactive world map of power plants including primary energy sources, power (MW) and commissioning year.">
        <meta name="keywords" content="Power, Plant, Map, Energy, Fuel, Fossil, Renewable, Nuclear, Oil, Gas, World">
        <title>Power Plants Map</title>
        <link rel="canonical" href="https://powerplant.app" />
        <link rel="icon" href="{%  static 'favicon.ico' %}">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin="anonymous"></script>       
        <script src="{% static 'js/leaflet-providers.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.1/css/dvf.min.css" integrity="sha512-Ts/IYE5D8PaMBUDHcf6O57lOiV923cai3sEXo0WjhakpTxlwodQQJx1YA2t1mDUKO6fIXEngkKFLQNMXK/kBZg==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.1/leaflet-dvf.min.js" integrity="sha512-pe7O7ggQMIJKTlaY8j+C8MlC0gs6TR+HPUQ8DaQF4GVC6ilsbRwwSuK33QJht+wLV9fppw5Yc/oNoc0oxKNeuA==" crossorigin="anonymous"></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.css' rel='stylesheet' />
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.js'></script>

        <script src="https://kit.fontawesome.com/23b1315a99.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/leaflet-sidebar.min.css' %}" />
        <script src="{% static 'js/leaflet-sidebar.min.js' %}"></script>    


        <link rel="stylesheet" href="{% static 'css/map.css' %}" />
        <script src="{% static 'js/map.js' %}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4XKJZV2MQ8"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-4XKJZV2MQ8');
        </script>
    </head>

    <body>
        <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#stats" role="tab"><i class="fas fa-chart-bar"></i></a></li>
                <li><a href="https://www.notion.so/Power-Plants-Map-9422c784d545405fb5591334f3cb0dee" role="tab" target="_blank"><i class="fas fa-info-circle"></i></a></li>
                <li><a href="mailto:contact@powerplant.app" role="tab" target="_blank"><i class="fas fa-envelope"></i></a></li>
                <li><a href="https://gitlab.com/clacoudre/powerplantapp-cloudrun/" role="tab" target="_blank"><i class="fab fa-gitlab"></i></a></li>

            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="stats">
                <h1 class="sidebar-header">
                    Installed Capacity by Country
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <div class = 'country'>
                <ul>
                {% for country in statistics_by_country %}<li class = "{{ country.flag_id }}"> <div class='name'><p>{{ country.country }}</p></div> <div class='power'><p>{{ country.sum_gw|floatformat:"2" }} GW</p></div></li> {% endfor %}
                </ul></div>

            </div>
        </div>
    </div>



    <div id="visible">
</div>
    <div id="mapid" class='sidebar-map'></div>

    <script>

    var data = {{ plant_data|safe }};
    var map = L.map('mapid').setView([0, 0],3);
    customMap(map);
    var sidebar = L.control.sidebar('sidebar').addTo(map);

    var centroids = L.layerGroup();

    {% for country in statistics_by_country_pivot %}var centroids = addCentroids(centroids, {{ country.country_info__centroid_location.y}}, {{ country.country_info__centroid_location.x}}, {{ country.Hydro }}, {{ country.Gas }},  {{ country.Oil }}, {{ country.Biomass }}, {{ country.Wind }}, {{ country.Nuclear }}, {{ country.Coal }}, {{ country.Solar }}, {{ country.Waste }}, {{ country.Wave_and_Tidal }}, {{ country.Petcoke }}, {{ country.Geothermal }}, {{ country.Cogeneration }}, {{ country.Storage }}, {{ country.Other }});{% endfor %}
    centroids.addTo(map);

   var plants = addPlants(data);
    var dynamic_layer = L.layerGroup();

    function placeMarkersInBounds() {
        var mapBounds = map.getBounds();
        plants.eachLayer(function (layer){

            var shouldBeVisible = mapBounds.contains(layer.getLatLng());
            if (dynamic_layer.hasLayer(layer) && !shouldBeVisible) {
                dynamic_layer.removeLayer(layer);
            } else if (!dynamic_layer.hasLayer(layer) && shouldBeVisible) {
                dynamic_layer.addLayer(layer);
            }
        })};

    map.on('moveend', placeMarkersInBounds);
    placeMarkersInBounds();

    map.on('zoomend', function() {
    var zoomlevel = map.getZoom();
        if (zoomlevel  <5){
            if (map.hasLayer(dynamic_layer)) {
                map.removeLayer(dynamic_layer);
            }
            if (map.hasLayer(centroids)) {
            }
            else {map.addLayer(centroids)}
          }

        if (zoomlevel >= 5){
            if (map.hasLayer(dynamic_layer)){
            } else {
                map.addLayer(dynamic_layer);
            }
            if (map.hasLayer(centroids)) {
              map.removeLayer(centroids)
            }
            else{}

        }
    });       

    </script>
    </body>
    </html>