<style>

body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {height: 100%; width: 100%; }

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
      }

  .country ul {
    margin: 0 0 0 10px;
    line-height: 1.8;

}

  .country li {cursor: pointer;}  
  .country li { background: white; }
  .country li:nth-child(odd) { background: rgba(234, 234, 234, 1);}
  .country li:hover {background: rgba(170,170,170, 1)}


   .power{
  display: table;
  height: 35px;
  width: 95px;
  /*border: 1px solid red;*/
  color:green;
  font-weight: bold;
  float: right;


    }

  .power p{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  }

  .name{
  display: table;
  height: 35px;
  width: 200px;
  /*border: 1px solid red;*/
  float: left;

    }

  .name p{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  }

  @media (max-width: 479px) {
    
    .name{
    font-size:13px;
    width: 160px;
   
    }

    .power{
    font-size:13px;
    width: 80px;
    }

    .modal-content{
    width: 85%;
    left: 46px;
    }
  } 

 .AD {list-style-image: url('../img/flags/AD@3x.png')}
 .AE {list-style-image: url('../img/flags/AE@3x.png')}
 .AF {list-style-image: url('../img/flags/AF@3x.png')}
 .AG {list-style-image: url('../img/flags/AG@3x.png')}
 .AI {list-style-image: url('../img/flags/AI@3x.png')}
 .AL {list-style-image: url('../img/flags/AL@3x.png')}
 .AM {list-style-image: url('../img/flags/AM@3x.png')}
 .AO {list-style-image: url('../img/flags/AO@3x.png')}
 .AQ {list-style-image: url('../img/flags/AQ@3x.png')} 
 .AR {list-style-image: url('../img/flags/AR@3x.png')}
 .AS {list-style-image: url('../img/flags/AS@3x.png')}
 .AT {list-style-image: url('../img/flags/AT@3x.png')}
 .AU {list-style-image: url('../img/flags/AU@3x.png')}
 .AW {list-style-image: url('../img/flags/AW@3x.png')}
 .AX {list-style-image: url('../img/flags/AX@3x.png')}
 .AZ {list-style-image: url('../img/flags/AZ@3x.png')}
 .BA {list-style-image: url('../img/flags/BA@3x.png')}
 .BB {list-style-image: url('../img/flags/BB@3x.png')}
 .BD {list-style-image: url('../img/flags/BD@3x.png')}
 .BE {list-style-image: url('../img/flags/BE@3x.png')}
 .BF {list-style-image: url('../img/flags/BF@3x.png')}
 .BG {list-style-image: url('../img/flags/BG@3x.png')}
 .BH {list-style-image: url('../img/flags/BH@3x.png')}
 .BI {list-style-image: url('../img/flags/BI@3x.png')}
 .BJ {list-style-image: url('../img/flags/BJ@3x.png')}
 .BL {list-style-image: url('../img/flags/BL@3x.png')}
 .BM {list-style-image: url('../img/flags/BM@3x.png')}
 .BN {list-style-image: url('../img/flags/BN@3x.png')}
 .BO {list-style-image: url('../img/flags/BO@3x.png')}
 .BR {list-style-image: url('../img/flags/BR@3x.png')}
 .BS {list-style-image: url('../img/flags/BS@3x.png')}
 .BT {list-style-image: url('../img/flags/BT@3x.png')}
 .BV {list-style-image: url('../img/flags/BV@3x.png')}
 .BW {list-style-image: url('../img/flags/BW@3x.png')}
 .BY {list-style-image: url('../img/flags/BY@3x.png')}
 .BZ {list-style-image: url('../img/flags/BZ@3x.png')}
 .CA {list-style-image: url('../img/flags/CA@3x.png')}
 .CC {list-style-image: url('../img/flags/CC@3x.png')}
 .CD {list-style-image: url('../img/flags/CD@3x.png')}
 .CF {list-style-image: url('../img/flags/CF@3x.png')}
 .CG {list-style-image: url('../img/flags/CG@3x.png')}
 .CH {list-style-image: url('../img/flags/CH@3x.png')}
 .CI {list-style-image: url('../img/flags/CI@3x.png')}
 .CK {list-style-image: url('../img/flags/CK@3x.png')}
 .CL {list-style-image: url('../img/flags/CL@3x.png')}
 .CM {list-style-image: url('../img/flags/CM@3x.png')}
 .CN {list-style-image: url('../img/flags/CN@3x.png')}
 .CO {list-style-image: url('../img/flags/CO@3x.png')}
 .CR {list-style-image: url('../img/flags/CR@3x.png')}
 .CU {list-style-image: url('../img/flags/CU@3x.png')}
 .CV {list-style-image: url('../img/flags/CV@3x.png')}
 .CW {list-style-image: url('../img/flags/CW@3x.png')}
 .CX {list-style-image: url('../img/flags/CX@3x.png')}
 .CY {list-style-image: url('../img/flags/CY@3x.png')}
 .CZ {list-style-image: url('../img/flags/CZ@3x.png')}
 .DE {list-style-image: url('../img/flags/DE@3x.png')}
 .DJ {list-style-image: url('../img/flags/DJ@3x.png')}
 .DK {list-style-image: url('../img/flags/DK@3x.png')}
 .DM {list-style-image: url('../img/flags/DM@3x.png')}
 .DO {list-style-image: url('../img/flags/DO@3x.png')}
 .DZ {list-style-image: url('../img/flags/DZ@3x.png')}
 .EC {list-style-image: url('../img/flags/EC@3x.png')}
 .EE {list-style-image: url('../img/flags/EE@3x.png')}
 .EG {list-style-image: url('../img/flags/EG@3x.png')}
 .EH {list-style-image: url('../img/flags/EH@3x.png')}
 .ER {list-style-image: url('../img/flags/ER@3x.png')}
 .ES {list-style-image: url('../img/flags/ES@3x.png')}
 .ET {list-style-image: url('../img/flags/ET@3x.png')}
 .EU {list-style-image: url('../img/flags/EU@3x.png')}
 .FI {list-style-image: url('../img/flags/FI@3x.png')}
 .FJ {list-style-image: url('../img/flags/FJ@3x.png')}
 .FK {list-style-image: url('../img/flags/FK@3x.png')}
 .FM {list-style-image: url('../img/flags/FM@3x.png')}
 .FO {list-style-image: url('../img/flags/FO@3x.png')}
 .FR {list-style-image: url('../img/flags/FR@3x.png')}
 .GA {list-style-image: url('../img/flags/GA@3x.png')}
 .GB {list-style-image: url('../img/flags/GB@3x.png')}
 .GB-ENG {list-style-image: url('../img/flags/GB-ENG@3x.png')}
 .GB-NIR {list-style-image: url('../img/flags/GB-NIR@3x.png')}
 .GB-SCT {list-style-image: url('../img/flags/GB-SCT@3x.png')}
 .GB-WLS {list-style-image: url('../img/flags/GB-WLS@3x.png')}
 .GB-ZET {list-style-image: url('../img/flags/GB-ZET@3x.png')}
 .GD {list-style-image: url('../img/flags/GD@3x.png')}
 .GE {list-style-image: url('../img/flags/GE@3x.png')}
 .GF {list-style-image: url('../img/flags/GF@3x.png')}
 .GG {list-style-image: url('../img/flags/GG@3x.png')}
 .GH {list-style-image: url('../img/flags/GH@3x.png')}
 .GI {list-style-image: url('../img/flags/GI@3x.png')}
 .GL {list-style-image: url('../img/flags/GL@3x.png')}
 .GM {list-style-image: url('../img/flags/GM@3x.png')}
 .GN {list-style-image: url('../img/flags/GN@3x.png')}
 .GP {list-style-image: url('../img/flags/GP@3x.png')}
 .GQ {list-style-image: url('../img/flags/GQ@3x.png')}
 .GR {list-style-image: url('../img/flags/GR@3x.png')}
 .GS {list-style-image: url('../img/flags/GS@3x.png')}
 .GT {list-style-image: url('../img/flags/GT@3x.png')}
 .GU {list-style-image: url('../img/flags/GU@3x.png')}
 .GW {list-style-image: url('../img/flags/GW@3x.png')}
 .GY {list-style-image: url('../img/flags/GY@3x.png')}
 .HK {list-style-image: url('../img/flags/HK@3x.png')}
 .HM {list-style-image: url('../img/flags/HM@3x.png')}
 .HN {list-style-image: url('../img/flags/HN@3x.png')}
 .HR {list-style-image: url('../img/flags/HR@3x.png')}
 .HT {list-style-image: url('../img/flags/HT@3x.png')}
 .HU {list-style-image: url('../img/flags/HU@3x.png')}
 .ID {list-style-image: url('../img/flags/ID@3x.png')}
 .IE {list-style-image: url('../img/flags/IE@3x.png')}
 .IL {list-style-image: url('../img/flags/IL@3x.png')}
 .IM {list-style-image: url('../img/flags/IM@3x.png')}
 .IN {list-style-image: url('../img/flags/IN@3x.png')}
 .IO {list-style-image: url('../img/flags/IO@3x.png')}
 .IQ {list-style-image: url('../img/flags/IQ@3x.png')}
 .IR {list-style-image: url('../img/flags/IR@3x.png')}
 .IS {list-style-image: url('../img/flags/IS@3x.png')}
 .IT {list-style-image: url('../img/flags/IT@3x.png')}
 .JE {list-style-image: url('../img/flags/JE@3x.png')}
 .JM {list-style-image: url('../img/flags/JM@3x.png')}
 .JO {list-style-image: url('../img/flags/JO@3x.png')}
 .JP {list-style-image: url('../img/flags/JP@3x.png')}
 .KE {list-style-image: url('../img/flags/KE@3x.png')}
 .KG {list-style-image: url('../img/flags/KG@3x.png')}
 .KH {list-style-image: url('../img/flags/KH@3x.png')}
 .KI {list-style-image: url('../img/flags/KI@3x.png')}
 .KM {list-style-image: url('../img/flags/KM@3x.png')}
 .KN {list-style-image: url('../img/flags/KN@3x.png')}
 .KP {list-style-image: url('../img/flags/KP@3x.png')}
 .KR {list-style-image: url('../img/flags/KR@3x.png')}
 .KW {list-style-image: url('../img/flags/KW@3x.png')}
 .KY {list-style-image: url('../img/flags/KY@3x.png')}
 .KZ {list-style-image: url('../img/flags/KZ@3x.png')}
 .LA {list-style-image: url('../img/flags/LA@3x.png')}
 .LB {list-style-image: url('../img/flags/LB@3x.png')}
 .LC {list-style-image: url('../img/flags/LC@3x.png')}
 .LGBT {list-style-image: url('../img/flags/LGBT@3x.png')}
 .LI {list-style-image: url('../img/flags/LI@3x.png')}
 .LK {list-style-image: url('../img/flags/LK@3x.png')}
 .LR {list-style-image: url('../img/flags/LR@3x.png')}
 .LS {list-style-image: url('../img/flags/LS@3x.png')}
 .LT {list-style-image: url('../img/flags/LT@3x.png')}
 .LU {list-style-image: url('../img/flags/LU@3x.png')}
 .LV {list-style-image: url('../img/flags/LV@3x.png')}
 .LY {list-style-image: url('../img/flags/LY@3x.png')}
 .MA {list-style-image: url('../img/flags/MA@3x.png')}
 .MC {list-style-image: url('../img/flags/MC@3x.png')}
 .MD {list-style-image: url('../img/flags/MD@3x.png')}
 .ME {list-style-image: url('../img/flags/ME@3x.png')}
 .MF {list-style-image: url('../img/flags/MF@3x.png')}
 .MG {list-style-image: url('../img/flags/MG@3x.png')}
 .MH {list-style-image: url('../img/flags/MH@3x.png')}
 .MK {list-style-image: url('../img/flags/MK@3x.png')}
 .ML {list-style-image: url('../img/flags/ML@3x.png')}
 .MM {list-style-image: url('../img/flags/MM@3x.png')}
 .MN {list-style-image: url('../img/flags/MN@3x.png')}
 .MO {list-style-image: url('../img/flags/MO@3x.png')}
 .MP {list-style-image: url('../img/flags/MP@3x.png')}
 .MQ {list-style-image: url('../img/flags/MQ@3x.png')}
 .MR {list-style-image: url('../img/flags/MR@3x.png')}
 .MS {list-style-image: url('../img/flags/MS@3x.png')}
 .MT {list-style-image: url('../img/flags/MT@3x.png')}
 .MU {list-style-image: url('../img/flags/MU@3x.png')}
 .MV {list-style-image: url('../img/flags/MV@3x.png')}
 .MW {list-style-image: url('../img/flags/MW@3x.png')}
 .MX {list-style-image: url('../img/flags/MX@3x.png')}
 .MY {list-style-image: url('../img/flags/MY@3x.png')}
 .MZ {list-style-image: url('../img/flags/MZ@3x.png')}
/* .nan {list-style-image: url('../img/flags/nan@3x.png')}*/ 
 .NA {list-style-image: url('../img/flags/NA@3x.png')}
 .NC {list-style-image: url('../img/flags/NC@3x.png')}
 .NE {list-style-image: url('../img/flags/NE@3x.png')}
 .NF {list-style-image: url('../img/flags/NF@3x.png')}
 .NG {list-style-image: url('../img/flags/NG@3x.png')}
 .NI {list-style-image: url('../img/flags/NI@3x.png')}
 .NL {list-style-image: url('../img/flags/NL@3x.png')}
 .NO {list-style-image: url('../img/flags/NO@3x.png')}
 .NP {list-style-image: url('../img/flags/NP@3x.png')}
 .NR {list-style-image: url('../img/flags/NR@3x.png')}
 .NU {list-style-image: url('../img/flags/NU@3x.png')}
 .NZ {list-style-image: url('../img/flags/NZ@3x.png')}
 .OM {list-style-image: url('../img/flags/OM@3x.png')}
 .PA {list-style-image: url('../img/flags/PA@3x.png')}
 .PE {list-style-image: url('../img/flags/PE@3x.png')}
 .PF {list-style-image: url('../img/flags/PF@3x.png')}
 .PG {list-style-image: url('../img/flags/PG@3x.png')}
 .PH {list-style-image: url('../img/flags/PH@3x.png')}
 .PK {list-style-image: url('../img/flags/PK@3x.png')}
 .PL {list-style-image: url('../img/flags/PL@3x.png')}
 .PM {list-style-image: url('../img/flags/PM@3x.png')}
 .PN {list-style-image: url('../img/flags/PN@3x.png')}
 .PR {list-style-image: url('../img/flags/PR@3x.png')}
 .PS {list-style-image: url('../img/flags/PS@3x.png')}
 .PT {list-style-image: url('../img/flags/PT@3x.png')}
 .PW {list-style-image: url('../img/flags/PW@3x.png')}
 .PY {list-style-image: url('../img/flags/PY@3x.png')}
 .QA {list-style-image: url('../img/flags/QA@3x.png')}
 .RE {list-style-image: url('../img/flags/RE@3x.png')}
 .RO {list-style-image: url('../img/flags/RO@3x.png')}
 .RS {list-style-image: url('../img/flags/RS@3x.png')}
 .RU {list-style-image: url('../img/flags/RU@3x.png')}
 .RW {list-style-image: url('../img/flags/RW@3x.png')}
 .SA {list-style-image: url('../img/flags/SA@3x.png')}
 .SB {list-style-image: url('../img/flags/SB@3x.png')}
 .SC {list-style-image: url('../img/flags/SC@3x.png')}
 .SD {list-style-image: url('../img/flags/SD@3x.png')}
 .SE {list-style-image: url('../img/flags/SE@3x.png')}
 .SG {list-style-image: url('../img/flags/SG@3x.png')}
 .SH {list-style-image: url('../img/flags/SH@3x.png')}
 .SI {list-style-image: url('../img/flags/SI@3x.png')}
 .SJ {list-style-image: url('../img/flags/SJ@3x.png')}
 .SK {list-style-image: url('../img/flags/SK@3x.png')}
 .SL {list-style-image: url('../img/flags/SL@3x.png')}
 .SM {list-style-image: url('../img/flags/SM@3x.png')}
 .SN {list-style-image: url('../img/flags/SN@3x.png')}
 .SO {list-style-image: url('../img/flags/SO@3x.png')}
 .SR {list-style-image: url('../img/flags/SR@3x.png')}
 .SS {list-style-image: url('../img/flags/SS@3x.png')}
 .ST {list-style-image: url('../img/flags/ST@3x.png')}
 .SV {list-style-image: url('../img/flags/SV@3x.png')}
 .SX {list-style-image: url('../img/flags/SX@3x.png')}
 .SY {list-style-image: url('../img/flags/SY@3x.png')}
 .SZ {list-style-image: url('../img/flags/SZ@3x.png')}
 .TC {list-style-image: url('../img/flags/TC@3x.png')}
 .TD {list-style-image: url('../img/flags/TD@3x.png')}
 .TF {list-style-image: url('../img/flags/TF@3x.png')}
 .TG {list-style-image: url('../img/flags/TG@3x.png')}
 .TH {list-style-image: url('../img/flags/TH@3x.png')}
 .TJ {list-style-image: url('../img/flags/TJ@3x.png')}
 .TK {list-style-image: url('../img/flags/TK@3x.png')}
 .TL {list-style-image: url('../img/flags/TL@3x.png')}
 .TM {list-style-image: url('../img/flags/TM@3x.png')}
 .TN {list-style-image: url('../img/flags/TN@3x.png')}
 .TO {list-style-image: url('../img/flags/TO@3x.png')}
 .TR {list-style-image: url('../img/flags/TR@3x.png')}
 .TT {list-style-image: url('../img/flags/TT@3x.png')}
 .TV {list-style-image: url('../img/flags/TV@3x.png')}
 .TW {list-style-image: url('../img/flags/TW@3x.png')}
 .TZ {list-style-image: url('../img/flags/TZ@3x.png')}
 .UA {list-style-image: url('../img/flags/UA@3x.png')}
 .UG {list-style-image: url('../img/flags/UG@3x.png')}
 .UM {list-style-image: url('../img/flags/UM@3x.png')}
 .US {list-style-image: url('../img/flags/US@3x.png')}
 .US-CA {list-style-image: url('../img/flags/US-CA@3x.png')}
 .UY {list-style-image: url('../img/flags/UY@3x.png')}
 .UZ {list-style-image: url('../img/flags/UZ@3x.png')}
 .VA {list-style-image: url('../img/flags/VA@3x.png')}
 .VC {list-style-image: url('../img/flags/VC@3x.png')}
 .VE {list-style-image: url('../img/flags/VE@3x.png')}
 .VG {list-style-image: url('../img/flags/VG@3x.png')}
 .VI {list-style-image: url('../img/flags/VI@3x.png')}
 .VN {list-style-image: url('../img/flags/VN@3x.png')}
 .VU {list-style-image: url('../img/flags/VU@3x.png')}
 .WF {list-style-image: url('../img/flags/WF@3x.png')}
 .WS {list-style-image: url('../img/flags/WS@3x.png')}
 .XK {list-style-image: url('../img/flags/XK@3x.png')}
 .YE {list-style-image: url('../img/flags/YE@3x.png')}
 .YT {list-style-image: url('../img/flags/YT@3x.png')}
 .ZA {list-style-image: url('../img/flags/ZA@3x.png')}
 .ZM {list-style-image: url('../img/flags/ZM@3x.png')}
 .ZW {list-style-image: url('../img/flags/ZW@3x.png')}
 </style>
